icd10-cm
types-requests
stripe
urllib3
requests
pytz
django>=4.1.7
django-configurations>=2.4
mypy
gunicorn
git+https://github.com/jazzband/django-cookie-consent.git#egg=django-cookie-consent
sorl-thumbnail
django_compressor
django_compressor_toolkit
django_user_agents
django-extensions
werkzeug
django-stubs
django-filer
django-cms
django-celery-beat
django-treebeard
celery
djangocms-attributes-field
easy_thumbnails
Pillow
django-pipeline
git+https://github.com/holdenk/static-thumbnails.git
easy_thumbnails
geopy
django-regex-field
python-doctr
pytesseract
uszipcode
pyarrow
packaging>=20.0
PyPDF2

