beautifulsoup4==4.12.3
black
django>=5.0.0
django-cms
djangocms-attributes-field
django_compressor
django_compressor_toolkit
django-configurations>=2.4
django-cors-headers
django-extensions
django-filer
django-filter
django-memoize
django-pipeline
django-recaptcha==4.0.0
django-regex-field
djangorestframework
django-stubs
django-treebeard
django_user_agents
easy_thumbnails
easy_thumbnails
flake8-django
geopy
git+https://github.com/holdenk/static-thumbnails.git
git+https://github.com/jazzband/django-cookie-consent.git#egg=django-cookie-consent
gunicorn
icd10-cm
metapub==0.5.12
mypy
mypy
packaging>=20.0
Pillow
pyarrow
pymupdf
pyOpenSSL
PyPDF2
pytesseract # We either need easyocr + opencv-python OR pytesseract + tesseract (so alt is easyocr>=1.7.0 opencv-python)
python-Levenshtein
pytz
pyyaml
RapidFuzz==2.15.1 # See https://github.com/mindee/doctr/issues/1186
requests
setuptools
sorl-thumbnail
sqlalchemy_mate==2.0.0.0 # uszipcode issue see https://github.com/MacHu-GWU/uszipcode-project/issues/79
stripe
stripe==5.5.0
totallylegit-django-rest-framework-braces # forked from django-rest-framework-braces
types-requests
typing-extensions
urllib3
uszipcode
werkzeug
django-minio-storage
stopit
telnyx
pandoc
ray==2.38.0
ray[client]==2.38.0
