setuptools>=58
seleniumbase
pytest
pytest-django
djangorestframework-types
pytest
pytest-cov
pytest-django
pytest-xdist
isort==4.3.21
django_compressor_toolkit
django-memoize
seleniumbase
djangorestframework
pymupdf
mypy
black
easyocr
daphne
pytest-asyncio
