Hello {{name}},<br>
<p>
First off, thank you for using Fight Health Insurance to generate an appeal and choosing to use our fax service!.
</p>
<p>
{% if success %}
Our records indicate the fax was sent successfully. You should still call your insurance company to confirm receipt as they love to try and weasel out of it.
{% else %}
It seems like there may have been a problem sending the fax. This is fairly common, but you can try to re-send the fax for free.
{% endif %}
</p>

<p>
If you would like to re-send the fax, or send it to another number, <a href="{{fax_redo_link}}">click here</a>.
</p>

<p>
  We'd love it if you continued to share us with others who might need help with their insurance, especially professionals.
</p>

<p>
  Wishing you the best of luck with your fight with insurance,
</p>
<br>
Holden :)<br/>
<br>
---<br>
<a href="https://www.fighthealthinsurance.com">https://www.fighthealthinsurance.com</a>
