Hello,<br>
<p>
First off, thank you for using Fight Health Insurance to generate an appeal and choosing the follow-up option.
</p>
<p>
{% if selected_appeal %}
I'm checking in to see if you were able to submit your appeal and if so if the insurance company has responded. Any additional feedback on how we can improve the process would be appreciated.
{% else %}
It seems like we maybe didn't generate an appeal that worked for you and we'd love to know what we can do better.
{% endif %}
</p>

<p>
  If you can fill-out <a href="{{ followup_link }}">the follow up form that would be greatly appreciated</a> (alternatively, you can also respond to this e-mail and I'll take a look at your response :))
</p>

<p>
  Wishing you the best of luck with your fight with insurance,
</p>
<br>
Holden :)<br/>
<br>
---<br>
<a href="https://www.fighthealthinsurance.com">https://www.fighthealthinsurance.com</a>
