{% extends './base_email.html' %}
{% block content %}
<img src="https://www.fighthealthinsurance.com/static/images/fpw.jpg" class="center"><br/>
<p>
You have been invited to join your healthcare professional in appealing health insurance denial you have received.
</p>
<p>
    According to studies appeals when patients are involved have a close to 90% success rate.
</p>
<p>
    To make sure your in the right group when you signup make sure to use the practice phone number {{ practice_number }}.
</p>
<p>
    If you’ve got any questions, please feel free to reach out to us at <a href="mailto:support42@fighthealthinsurance.com">support42@fighthealthinsurance.com</a> :) We are also planning on conducting some user studies the end of this month if your willing to share feedback with us on the new workflow before we release it drop us an e-mail at <a href="mailto:support42@fighthealthinsurance.com">support42@fighthealthinsurance.com</a> :)
</p>
<p>
  A huge thank you,
</p>
<p>
The Fight Paperwork team, our dogs, and our cats.
</p>
{% endblock %}