{% extends 'base_email.html' %}
{% block content %}
<img src="https://www.fighthealthinsurance.com/static/images/fpw.jpg" class="center"><br/>
Dear {{ name }},
<p>
You are a PRO! Thank you for signing up for the Pro Version of Fight Health Insurance, which we call “Fight Paperwork” as we aim to solve more than just insurance problems in the long term.
</p>
<p>
We hope to launch our Pro Version BETA in March – but you know how optimistic engineers can be with timelines.
</p>
<p>
<a href="https://www.fighthealthinsurance.com/pro_version">Please continue to support us by sharing with friends</a>, and stay tuned for your next update!
</p>
<p>
Your participation has a huge impact!  If you’ve got any questions, please feel free to reach out to us at <a href="mailto:support42@fighthealthinsurance.com">support42@fighthealthinsurance.com</a> :) We are also planning on conducting some user studies the end of this month if your willing to share feedback with us on the new workflow before we release it drop us an e-mail at <a href="mailto:support42@fighthealthinsurance.com">support42@fighthealthinsurance.com</a> :)
</p>
<p>
  A huge thank you,
</p>
<p>
FHI Team
</p>
{% endblock %}