{% extends 'base.html' %}
{% block title %}
About Us
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h2>About Us</h2>

    <p>
        We are (exclusively) serving America, not because we don't love Europe, the rest of North America, Africa, or
        any other place in the world, but because, frankly American health insurance is a special kind of SNAFU.
        <br><br>

        We at Totally Legit Co (of Delaware) decided to create "Fight Health Insurance" (sometimes called by… more
        colourful names) because we're tired of dealing with health insurance denials. In our opinion, many health
        insurance denials are bogus, and the insurance companies depend on us not appealing them. We hope that by making
        it easier to appeal medical health insurance denials, we can change that calculus on insurance companies' part.
        <br><br>

        Or, to put it another way, Fight Health Insurance is currently a passion project. We have day jobs, but most of us have had
        terrible experiences with health insurance and we're tired of watching health insurance companies grind down our
        friends (and tired of being ground down by them ourselves).
        <br><br>

        This website is not intended to be legal advice. We are focused on providing information on how to appeal health
        insurance claims. In some situations, such as ERISA, you may have the right to legal action, and you should consult with a lawyer.
        <br><br>

	The results from Totally Legit Co come from a combination of custom-written templates, large language models, and (eventually) maybe more.
	We <b>strongly advise</b> reading any appeal prior to submission for accuracy.
	<br><br>

        Once we figure out the details and set them up, we may make small amounts of money if you choose to use our fax
        or mailing services (or we may lose money, honestly; we're figuring this out as we go). You can always
        choose to mail or fax letters yourself, but we believe that by reducing the "friction" to filing an appeal, we
        can help create more appeals. We may also make money from links on this website (through what is known as
        affiliate marketing).
	<br><br>

	We also intend to offer a paid version (with an app) for doctors', therapists, and other practioner offices, hospitals, etc. since they deal with so many appeals. <a href="{% url 'pro_version' %}">If that sounds like you (or your business), we would love your information to keep in touch (and even better a small amount of money if your interested in being a first beta user).</a>
	<br><br>.
    </p>
</div>
{% endblock content %}
