{% extends 'base.html' %}
{% load static %}
{% block title %}
Fight Your Health Insurance Denial: Choose an Appeal
{% endblock title %}

{% block pre-roll %}
<!-- This JS is partiall writen by AI -->
<script>
$(document).ready(function() {
    // Where the forms go
    var outputContainer = $('#output-container');
    var resp_buffer = '';
    var appeal_id = 0;
    var appeals_so_far = [];
    document.getElementById('loading-spinner').style.display = 'visible';
    document.getElementById('loading-text').style.display = 'visible';

    let process_chunk = function(chunk) {
 	resp_buffer += chunk;
	if (resp_buffer.includes('\n')) {
	    let lastIndex = resp_buffer.lastIndexOf('\n');
	    let current = resp_buffer.substring(0, lastIndex);
	    resp_buffer = resp_buffer.substring(lastIndex);
	    let lines = current.split('\n');
	    lines.forEach(function(line) {
		console.log("Parsing line:")
		console.log(line)
		if (line == "" || line == "\n") {
		    console.log("Skipping");
		    return;
		}
		appeal_id = appeal_id + 1
		let j = JSON.parse(line);
		if (appeals_so_far.includes(j)) {
		    console.log("Already have this one.");
		    return;
		} else {
		    appeals_so_far.push(j);
		}
		// Clone the base form template
		var $clonedForm = $('#base-form').clone().prop(
		    "id", "magic" + appeal_id);
		console.log("Cloned form:");
		console.log($clonedForm);
		outputContainer.append( $clonedForm );
		var clonedForm = $("#" + "magic" + appeal_id);
		console.log("Found");
		console.log(clonedForm);

		// Display the cloned form
		clonedForm.removeAttr('style');  // Remove the "display: none" style
		// $('#form-container' + appeal_id).html(clonedForm);
		// Fill in the textarea value from the response
		appealTextElem = clonedForm.find("textarea");
		// WTF javascript why.
		form = clonedForm.find("form");
                form.prop("id", "form_" + appeal_id);
                submit = clonedForm.find("button");
                submit.prop("id", "submit" + appeal_id);
		console.log("Looking for our friend:");
		console.log(appealTextElem);
		appealTextElem.text(j);
		appealTextElem.val(j);
                appealTextElem.value = j;
                // One of these should work?
		appealTextElem.prop("form", "form_" + appeal_id);
                appealTextElem.form = "form_" + appeal_id;
                appealTextElem[0].setAttribute("form", "form_" + appeal_id);
                appealTextElem.prop("textContent", j);
		console.log("Value should now be:");
		console.log(j);
		console.log("We have:");
		console.log(appealTextElem);
	    })
	} else {
	    console.log("Waiting for a full line")
	}
    };

    // Make AJAX request to Django endpoint with the specified ID
    $.ajax({
        url: "{% url 'appeals_json_backend' %}",
        type: 'POST',
data: {
{% autoescape off %}
...{{form_context}},
{% endautoescape %}
              ...{
              'csrfmiddlewaretoken': '{{ csrf_token }}',
              'timbit': 'is most awesomex2'}},
	contentType: 'application/x-www-form-urlencoded',
	dataType: "text", // dataType is response.
	processData: true,
	xhr: function() {
	    console.log("Registering xhr function!");
	    var xhr = new XMLHttpRequest();

	    xhr.addEventListener(
		'progress',
		function(event) {
		    var chunk = event.currentTarget.responseText;
		    process_chunk(chunk);
		}
	    )
	    console.log("Registered XHR func :D");
	    return xhr;
	},
	success: function(response) {
	    console.log("Sucess?");
            console.log(response);
	    process_chunk(response);
            console.log("Hiding spinner");
            setTimeout(function() {
            document.getElementById('loading-spinner').style.display = 'none';
	    document.getElementById('loading-text').style.display = 'none';
            document.getElementById('loading-more').style.display = 'none';
	    }, 1000);
        },
	error: function(err) {
	    console.log("Error :(");
	    console.log(err);
	}});
});
</script>
{% endblock pre-roll %}

{% block content %}


<!-- This code is partial written by AI -->
<!-- Loading Spinner -->
<div id="loading-text">
  <h1>Loading appeals (please wait) -- should go away when all appeals are generated</h1>
</div>
<div id="loading-spinner">
  <i class="fas fa-spinner fa-spin fa-3x"></i>
</div>

  <!-- Main Content -->
<div id="main-content" style="width: 80%; margin-top: 2.5rem !important; margin-top: 15vh;">
  <div id="loading-more">
    <h4>Page Loading: Health Insurance Appeals</h4>
    <p>Thank you for submitting your health insurance denial. We are currently working to generate the necessary details for your appeal, and this process may take a few moments.</p>

    <h5>Why the delay?</h5>
    <p>Generative AI models (like the ones we use) can be slow at the best of times.</p>

    <h5>What to Expect:</h5>
    <ul>
      <li><strong>Please Wait:</strong> Your patience is greatly appreciated. Rest assured, we (or the computers) are working diligently (unless they broke) to gather the necessary information for your appeal.</li>
    </ul>

    <h5>When to refresh:</h5>
	<ul>
	<li>If this message does not go away after several minutes, you can try refreshing the web page. We will try and generate a new set of appeals.</li>
	</ul>

    <h5>What if this message never goes away?</h5>
    <ul>
	<li>You can try refreshing if it has been a few minutes. It is also possible something is broken. If you use an ad blocker or a Javascript blocker, try turning those off as sometimes they interfere. If that still does not help, maybe our servers are broken (the two we use for model generation are called Plushy and Steve). Email us at <a href="mailto:support42@fighthealthinsurance.com">support42@fighthealthinsurance.com</a> & we will look into it.</li>
	</ul>
	</div>
  <!-- </div> -->

<p>
  When you choose a specific appeal, we <b>save that appeal to our database for model training and review</b>.
</p>
<div id="base-form" style="display: none;">
<form action="{% url 'choose_appeal' %}" method="post" class="col-md-12 d-flex flex-column align-items-center" id="form">
  {% csrf_token %}
  <input type="hidden" name="email" value="{{ user_email }}">
  <input type="hidden" name="denial_id" value="{{ denial_id }}">
  <input type="hidden" name="semi_sekret" value="{{ semi_sekret }}">
  <textarea style="width:100%" rows="20" name="appeal_text" id="appeal_text">
  </textarea>

  <button type="submit" id="submit" class="btn btn-green">Choose This One</button>
</form>
</div>
<div id="output-container">
</div>
</div>
{% endblock content %}
