{% extends 'base.html' %}
{% load static %}
{% block title %}
Fight Your Health Insurance Denial: Choose an Appeal
{% endblock title %}

{% block pre-roll %}
<!-- This JS is partiall writen by AI -->
<script src='{% static "js/dist/appeal_fetcher.bundle.js" %}' defer></script>
{% endblock pre-roll %}

{% block content %}


<!-- This code is partial written by AI -->
<!-- Loading Spinner -->
<div id="loading-text">
  <h1>Loading appeals (please wait) -- should go away when all appeals are generated</h1>
</div>
<div id="loading-spinner">
</div>

  <!-- Main Content -->
<div id="main-content" class="generic-main-content">
  <div id="loading-more">
    <h4>Page Loading: Health Insurance Appeals</h4>
    <p>Thank you for submitting your health insurance denial. We are currently working to generate the necessary details for your appeal, and this process may take a few moments.</p>
    In the meantime enjoy professor timbit (Holden and Carolyn&#39;s dog) working hard on the keyboard.
    <img src="{% static '/images/timbit-stand-on-keyboard.jpg' %}" alt="Timbit standing on a keyboard to convey that we are working on the appeal.">
    <h5>Why the delay?</h5>
    <p>Generative AI models (like the ones we use) can be slow at the best of times.</p>

    <h5>What to Expect:</h5>
    <ul>
      <li><strong>Please Wait:</strong> Your patience is greatly appreciated. Rest assured, we (or the computers) are working diligently (unless they broke) to gather the necessary information for your appeal.</li>
    </ul>

    <h5>When to refresh:</h5>
	<ul>
	<li>If this message does not go away after several minutes, you can try refreshing the web page. We will try and generate a new set of appeals.</li>
	</ul>

    <h5>What if this message never goes away?</h5>
    <ul>
	<li>You can try refreshing (hold down the shift key while you press refresh) if it has been a few minutes. It is also possible something is broken. If you use an ad blocker or a Javascript blocker, try turning those off as sometimes they interfere. If that still does not help, maybe our servers are broken (the two we use for model generation are called Plushy and Steve). Email us at <a href="mailto:support42@fighthealthinsurance.com">support42@fighthealthinsurance.com</a> & we will look into it.</li>
	</ul>
	</div>
  </div>
    <!-- </div> -->

<p>
  When you choose a specific appeal, we <b>save that appeal to our database for model training and review</b>.
</p>
<div id="base-form" style="display: none;">
<form action="{% url 'choose_appeal' %}" method="post" class="col-md-12 d-flex flex-column align-items-center" id="form">
  {% csrf_token %}
  <input type="hidden" name="email" value="{{ user_email }}">
  <input type="hidden" name="denial_id" value="{{ denial_id }}">
  <input type="hidden" name="semi_sekret" value="{{ semi_sekret }}">
  <textarea style="width:100%" rows="20" name="appeal_text" id="appeal_text">
  </textarea>

  <button type="submit" id="submit" class="btn btn-green">Choose This One</button>
</form>
</div>
<div id="output-container">
</div>
</div>

<script>
  // Call the typescript on load
  document.addEventListener('DOMContentLoaded', () => {
      const backendUrl = "{% url 'appeals_json_backend' %}";
      const data = {
	  {% autoescape off %}
          ...{{form_context}},
          {% endautoescape %}
          ...{
              'csrfmiddlewaretoken': '{{ csrf_token }}',
              'timbit': 'is most awesomex2'}}
      const retries = 0;

      // Call the doQuery function
      doQuery(backendUrl, data, retries);
  });
</script>
{% endblock content %}
