{% extends 'base.html' %}
{% load static %}
{% block scriptmagic %}
<script type="module">
  import * as main from '{% static "js/dist/appeal.bundle.js" %}';
</script>
{% endblock scriptmagic %}
{% block title %}
Fight Your Health Insurance Denial: Edit and send in your appeal
{% endblock title %}

{% block content %}
Huzzah! We have a <b>draft</b> appeal for you to edit bellow:

<form action="{% url 'share_appeal' %}" method="post" class="col-md-12 d-flex flex-column align-items-center">
  {% csrf_token %}
  <input type="hidden" name="email" value="{{ user_email }}">
  <input type="hidden" name="denial_id" value="{{ denial_id }}">
  
  <textarea style="width:100%" rows="20" name="appeal_text" id="scrubbed_appeal_text">
    {{appeal}}
  </textarea>

  <!-- <button type="submit" class="btn btn-green">(Optional) Upload and Share (do not include PII)</button> -->
</form>
<button id="descrub" class="btn btn-green">
  Fill in your PII
</button>


<p>
  Once your satisified it's time to send in your appeal! Your denial should include the mailing address or fax number to submit your appeal to.
</p>
<p>
  {{appeal_info_extracted}}
</p>
<p>
  We can try and send the fax for you for a small fee if you want, but know you can send it in other ways.
</p>
<p>
  Note: Faxing your appeal with us does temporarily store the full filled in appeal on our servers (and potentially fax partners). Your e-mail will also be stored temporarily.
</p>
<!-- Put this back once we write that java script. -->
<form action="{% url 'stagefaxview' %}" method="post" class="col-md-12 d-flex flex-column align-items-center">
  {% csrf_token %}
  {{ fax_form }}
  <button id="fax_appeal">
    Fax Appeal for $5
  </button>
</form>
<!--
<button id="generate_pdf">
  Generate PDF (limited to 1 page)
</button>
-->
<br>
or:
<button id="print_appeal">
  Print Appeal (self submit)
</button>
{% endblock content %}
