{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block scriptmagic %}
    {% endblock scriptmagic %}
    <title>{% block title %}{{ title }}{% endblock title %}</title>
    <meta name="description"
	  content="{% block metadescription %}{% endblock metadescription %}">
    <meta name="title"
	  content="{% block metatitle %}{{ title }}{% endblock metatitle %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
    <style>
      .betaribbon {
	  font-size: 28px;
	  font-weight: bold;
	  color: #fff;
      }
      .betaribbon {
	  --f: .5em; /* control the folded part*/
	  --r: .8em; /* control the ribbon shape */
  
	  position: absolute;
	  left: 20px;
	  top: calc(-1*var(--f));
	  padding: .2em;
	  background: #BF4D28;
	  border-left: var(--f) solid #0005;
	  border-bottom: var(--r) solid #0000;
	  clip-path: polygon(var(--f) 0,100% 0,100% 100%,calc(50% + var(--f)/2) calc(100% - var(--r)), var(--f) 100%,var(--f) var(--f),0 var(--f));
      }
    </style>
    <style>
        {
            % block extra_style %
        }

            {
            % endblock extra_style %
        }
    </style>
        <!-- SCRIPTS -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="https://kit.fontawesome.com/dc8116a6de.js" crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JQNGR0JGVN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JQNGR0JGVN');
    </script>
    <style>
      #loading-spinner {
	  display: none;
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
      }
    </style>
</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
  <a class="github-fork-ribbon" href="https://github.com/orgs/totallylegitco/repositories" data-ribbon="Alpha -- Fork me on GH" title="Alpha -- Fork me on GH">Contribute on GitHub</a>
<!--  <div class="betaribbon"><a href="https://inc42.com/glossary/alpha-release-beta-release/#:~:text=An%20alpha%20release%20is%20an,caught%20during%20the%20previous%20tests.">Alpha</a> <a href="{% url 'contact' %}">Feedback welcome</a></div>-->
    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>


    <!-- HEADER -->
    <header>
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-5">
                    <p>Welcome to Fight Health Insurance</p>
                </div>

                <div class="col-md-8 col-sm-7 text-align-right">
		  <!--
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
		    -->
                </div>

            </div>
        </div>
    </header>


    <!-- MENU -->
    <section class="navbar navbar-default navbar-expand-lg" role="navigation">
        <div class="container">

            <!-- lOGO TEXT HERE -->
            <img src="{% static '/images/better-logo.png' %}" alt="" class="img-fluid logo">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- MENU LINKS -->
            <div class="collapse navbar-collapse justify-content-end" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item"><a href="{% url 'root' %}" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About Us</a></li>
		    <li class="nav-item"><a href="{% url 'remove_data' %}" class="nav-link" id="removedata">Remove Your Data</a></li>
                    <li class="nav-item"><a href="{% url 'other-resources' %}" class="nav-link">Other Resources</a></li>
                    <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
		    <li class="nav-item"><a href="{% url 'pro_version' %}" class="nav-link">Professional</a></li>
                    <li class="nav-item appointment-btn"><a href="{% url 'scan' %}">Generate Appeal</a></li>
                </ul>
            </div>

        </div>
    </section>

    <!-- ***** Header Area End ***** -->
    {% block pre-roll %}
    {% endblock pre-roll %}

    <!-- Actual content -->
    {% block content %}

    {% endblock content %}
    <!-- End of content block. Phew that was short -->

    {% block foot-roll %}
    {% endblock foot-roll %}
    <!-- ***** Footer Start ***** -->
    <!-- FOOTER -->
    <footer data-stellar-background-ratio="5">
        <div class="container">
            <div class="row">
                <div class="row col-md-12 col-sm-12 border-top">
                    <div class="col-md-4 col-sm-6">
                        <div class="copyright-text">
                            <img src="{% static '/images/better-logo.png' %}" alt="" class="img-fluid logo">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="footer-link">
                            <a href="{% url 'root' %}">Home</a>
                            <a href="{% url 'tos' %}">Terms of Service</a>
                            <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 text-align-center">
                        <div class="angle-up-btn">
                            <a href="#top" class="smoothScroll wow fadeInUp" data-wow-delay="1.2s"><i
                                    class="fa fa-angle-up"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
