{% extends 'base.html' %}

{% block title %}
Categorize Your Denial
{% endblock title %}

{% load compress %}
{% load static %}
{% block content %}

<div class="container" style="width: 80%; margin-top: 2.5rem !important; margin-top: 15vh;">
  <p>Thank you for your submission!<br>
    We've tried our best to extract information from your upload (but we could totally have got this wrong).<br>
    Here are a few questions to categorize your denial so we can generate the right kind of appeal:<br>
  </p>
  <form action="{% url 'find_next_steps' %}" method="post">
    {% csrf_token %}
    <table class="post-infered-table">
      {{ post_infered_form.as_table }}
    </table>
    <br>
    <input type="submit" id="submit_cat" class="cat-submit-button">
  </form>
</div>
{% endblock content %}
