{% extends 'base.html' %}
{% block title %}
Contact
{% endblock title %}
{% load static %}
{% load absolute %}
{% block content %}
<section id="contact">
    <div class="container">
      <div class="section-header text-align-center">
	<h2>Fighthealthinsurance Contact</h2>
      </div>
      Thank you for your interest! We'd love to hear from you, e-mail is the easiest way to get in touch with us. If your a software developer (hi!) you can also get in touch with us for <a href="https://github.com/orgs/totallylegitco/repositories">non-security related bug reports or improvements on our GitHub.</a>
      <h5>Contact Information</h5>
      <p>
        Holden Karau <br>
        Address: <br>
        9450 SW Gemini Dr PMB 41687 <br>
        Beaverton, Oregon 97008-7105 <br>
        Telephone: (202) 938-3266 <br>
        Email: support@fighthealthinsurance.com <br>
      </p>
    </div>
</section>
{% endblock content %}
