{% extends 'base.html' %}
{% block title %}
Frequently asked questions (FAQ)
{% endblock title %}
{% load static %}
{% load absolute %}
{% block content %}
<section id="contact">
    <div class="container">
      <div class="section-header text-align-center">
	<h2>Fighthealthinsurance Frequently asked questions (FAQ)</h2>
      </div>
      <h5>Would this also work for short-term medical leave denials?</h5>
      <p>
	Probably not at this time. Currently our training data is focused on health insurance and the rules regarding short-term medical leave are very different.
      </p>
      <h5>I'm a doctor/therapist/etc can I use this in my office?</h5>
      <p>
	Not yet! <a href="{% url 'pro_version' %}">We're working on a professional version and would love your info to keep in touch.</a>
      </p>
      <h5>I have another question</h5>
      <p>
	That makes sense -- please reach out to support42@fighthealthinsurance.com :)
      </p>
    </div>
</section>
{% endblock content %}
