{% extends 'base.html' %}
{% block title %}
Thank you for using Fight Health Insurance & Our Fax Service!
{% endblock title %}
{% load static %}
{% load absolute %}
{% block content %}
<section id="contact">
    <div class="container">
      <div class="section-header text-align-center">
	<h2>Thank you!</h2>
      </div>
      <p>
	The dream of the <a href="https://www.youtube.com/watch?v=U4hShMEk1Ew">90s is alive in Portland</a>, Seattle, and <a href="https://amzn.to/3UvGZaD">our FaxMachine (you can get your own too!)</a>.
      </p>
      <p>
	<img src="{% static "images/holden_and_carolyn_walk_in_seattle.jpg" %}" alt="Picture a very 90s esque picture here" align="center" width="1088" height="732"/>
      </p>
    </div>
</section>
{% endblock content %}

