{% extends 'base.html' %}
{% block title %}
Thank you!
{% endblock title %}

{% load compress %}
{% load static %}

{% block scriptmagic %}
<script type="module">
  import * as main from '{% static "js/dist/scrub.bundle.js" %}';
</script>
{% endblock scriptmagic %}
{% block content %}
<h2>Thank you for your feedback</h2>
<p>
  Your feedback helps us improve for the future.
</p>
<p>
  <a href="https://buy.stripe.com/5kA03r2ZwbgebyE7ss" class="section-btn btn btn-default smoothScroll" id="support-our-dev-button" target="_blank" rel="noopener noreferrer">
    Support our Development (optional)
  </a>
</p>
{% endblock content %}
