{% extends 'base.html' %}
{% block title %}Fight Your Health Insurance Denial -- Use AI to Generate Your Health Insurance Appeal{% endblock title %}
{% block metatitle %}Fight Your Health Insurance Denial -- Use AI to Generate Your Health Insurance Appeal{% endblock metatitle %}
{% block metadescription %}Fight Health Insurance is a generative AI tool to help you fight your health insurance denial. Just take a picture of your denial and it will generate an appeal for you to submit as the first part of the health insurance appeal process.{% endblock metadescription %}
{% load compress %}
{% load static %}
{% block content %}

<!-- HOME -->
<section id="home" class="slider" data-stellar-background-ratio="0.5">
    <div class="row">
	<div class="item item-first">
	    <div class="caption d-flex flex-column align-items-center justify-content-center">
		<div class="col-md-offset-1 col-md-10">
		    <h3>Make your health insurance company cry too</h3>
		    <h1>Fight Health Insurance</h1>
		    <a href="{% url 'scan' %}" class="section-btn btn btn-default smoothScroll" id="scanlink">
		      Generate a Health Insurance Appeal w/ AI
		    </a>
		    <br>
		    We'll help you write an appeal to fight your health insurance denial. While an appeal is not always the first step in the health insurance appeal process we'll guide you through the options to fight back against health insurance denials. Almost all health plans are required to offer internal and external appeals and while they often make it confusing, we can help.
		    <br>
		    <a href="{% url 'pro_version' %}">If you're a <b>health care professional</b> (or related), signup for updates on our pro-version</a><br>
		    <a href="{% url 'pro_version' %}" class="section-btn btn btn-default smoothScroll" id="scanlink">
		      Professionals Click Here
		    </a>
		</div>
	    </div>
	</div>
    </div>
</section>

<section id="about">
    <div class="container">
	<div class="row">

	    <div class="col-md-6 col-sm-6">
		<div class="about-info">
		    <h2>Hi Friends!</h2>
		    <div>
		      When seeking to appeal health insurance denials, navigating the insurance appeal process methodically is essential. At Totally Legit Co, we specialize in helping you fight health insurance denial effectively and efficiently. The first step involves scanning your denial letter.
		      This can be done through optical character recognition (OCR) either on <a class="link" href='{% url "scan" %}'>your device/phone (recommended for increased privacy)</a> or
			<a class="link" href='{% url "server_side_ocr" %}'>on our
			  servers (more accurate)</a>. OCR makes the text understandable to machines, allowing our generative AI model to produce potential appeals for you to choose from.
<p>
			Steps to Overturn Insurance Denial
			<ul>
			  <li>Gather all necessary documents related to the denied claim.</li>
			  <li>Thoroughly review the denial letter to understand the reasons provided by the insurance company.</li>
			  <li>Compile pertinent medical records, recommendations, and any additional documentation that supports your case.</li>
			  <li>Draft a comprehensive appeal letter, addressing each point of denial with factual and supportive evidence. <b>This is the step where we can help the most</b></li>
			  <li>Submit the appeal letter along with the compiled documents to the insurance company.</li>
			  <li>Follow up with the insurance company regularly to track the status of your appeal. Often they're required to respond in reasonable timeframes but they sometimes do not meet that requirement.</li>
			</ul>
</p>
		    </div>
		</div>
	    </div>

	</div>
    </div>
</section>

{% endblock content %}
