{% extends 'base.html' %}
{% block title %}
Other Resources
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h2>Other Resources</h2>

    <p>
        There are many other resources for fighting for a fair outcome with your health insurance provider.
        <br><br>

        Depending on where you live there may be help from the state or federal level. Sometimes these are called
        advocates, like California's <a class="link" href="https://cahealthadvocates.org/appeals/">CA Health Advocates</a>.
        Additionally, many states have some form of assistance in
        navigating Medicare <a class="link" href="https://www.shiphelp.org/">and you can find out about them through State Health Insurance Assistance Programs</a>.
        The federal government has some 
        <a class="link" href="https://www.healthcare.gov/appeal-insurance-company-decision/">general information on healthcare.gov</a>
        , and <a class="link" href="https://marketplace.cms.gov/technical-assistance-resources/how-to-appeal-a-decision.pdf">cms.gov</a>.
        <br><br>

        Many groups focused on advocacy or support for folks with specific conditions or diagnoses can also have
        information, such as 
        <a class="link" href="https://www.jdrf.org/">diabetes</a>, 
        <a class="link" href="https://www.cancersupportcommunity.org/blog/how-to-file-health-insurance-appeal-denied-claim">cancer</a>, 
        <a class="link" 
            href="https://www.nationalmssociety.org/Living-Well-With-MS/Work-and-Home/Insurance-and-Financial-Information/Health-Insurance/Appeals">
            MS
        </a>, 
        and more. These resources, when up to date, can be wonderful since
        they tend to be created by people in a similar position to the one you are in.
        <br><br>

        There are also general-purpose websites like this one, 
        <a href="https://www.webmd.com/health-insurance/how-and-when-to-appeal-insurance-claims" class="link">WebMD</a>, 
        and more. To be direct here, the general purpose
        websites (us included) may not be as useful if you have a very specific concern. We want to do our best though
        and are <a href="{% url 'share_denial' %}" class="link">collecting denials</a> so that we can try and have the best of both
        worlds.
    </p>
</div>
{% endblock content %}
