{% extends 'base.html' %}
{% block title %}
Updating denial with your feedback & checking for resources
{% endblock title %}
{% load compress %}
{% load static %}
{% block content %}

<p>
  <H1>Thank you for your submission! There are some possible next steps:</H1>
</p>
<table>
  <tr>
    <td>
      Option Description
    </td>
    <td>
      Next Step
    </td>
  </tr>
  <tr>
    <td>
	One option is to request all of the records associated with your denial. This can be very useful for complex cases.
    </td>
    <td>
      The folks at <a href="https://www.propublica.org/article/find-out-why-health-insurance-claim-denied">propublica have a guide on how to request your file associated with a claim</a>
    </td>
  </tr>
  {% for d in outside_help_details %}
  {% autoescape off %}
  <tr>
    <td>
      {{d.0}}
    </td>
    <td>
      {{d.1}}
    </td>
  </tr>
  {% endautoescape %}
  {% endfor %}
  <tr>
    <td>
      Submit a health insurance appeal
    </td>
    <td>
      Fill out the form bellow :)
    </td>
  </tr>
</table>

{% if combined %}
We have a few more questions for you to help us generate the appeal.
{% else %}
Press the button bellow to see what we can come up with for an appeal:
{% endif %}
<form action="{% url 'generate_appeal' %}" method="post">
  {% csrf_token %}
  {{ denial_form }}
  <table>
    {{ combined.as_table }}
  </table>
  <input type="submit" text="Generate the appeal">
</form>

{% endblock content %}
