{% extends 'base.html' %}
{% block title %}
Some additional questions
{% endblock title %}
{% load compress %}
{% load static %}
{% block content %}

<div class="generic-main-content">
  <p>Thank you for your submission!<br>
    Let's now update your denial with your feedback & check for additional resources.<br>
    There are some possible next steps:<br>
  </p>
<table class="outside-help-options-table">
  <tr>
    <td><b>Your Options:</b></td>
    <td><b>Next Steps:</b></td>
  </tr>
  <tr>
    <td>
	    One option is to request all of the records associated with your denial. This can be very useful for complex cases.
    </td>
    <td>
      The folks at propublica have a <a href="https://www.propublica.org/article/find-out-why-health-insurance-claim-denied">guide</a> on how to request your file associated with a claim
    </td>
  </tr>
  {% for d in outside_help_details %}
  {% autoescape off %}
  <tr>
    <td>{{d.0}}</td>
    <td>{{d.1}}</td>
  </tr>
  {% endautoescape %}
  {% endfor %}
  <tr>
    <td>
      Submit a health insurance appeal
    </td>
    <td>
      Fill out the form bellow :)
    </td>
  </tr>
</table>
<br>
{% if combined %}
We have a few more questions for you to help us generate the appeal.
{% else %}
Press the button bellow to see what we can come up with for an appeal:
{% endif %}
<form action="{% url 'generate_appeal' %}" method="post">
  {% csrf_token %}
  {{ denial_form }}
  <table style="width: 100%; margin: 0 auto;">
    {{ combined.as_table }}
  </table>
  <input type="submit" text="Generate Appeal" id="submit" style="
    background: #a5c422;
    text-align: center;
    color:#ffffff !important;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 14px;">
  </form>
</div>
{% endblock content %}
