{% extends 'base.html' %}
{% load static %}
{% load absolute %}
{% block title %}
Privacy Policy
{% endblock title %}
{% block content %}
<section id="privacy-policy">
    <div class="container">
        <div class="section-header text-align-center">
            <h2>Privacy Policy</h2>
        </div>

	<h5>Fighthealthinsurance.com</h5>
	<h5>Privacy Policy</h5>
	<h5>Last updated: Jul 15, 2024</h5>
	<h5>Introduction</h5>
	<p>
	  Totally Legit Co. (“<b>we</b>”, “<b>our</b>”, or “<b>us</b>”) provides an online tool available on www.fighthealthinsurance.com (our “<b>Website</b>”) that can be used to generate a template for an appeal to a health insurance claim denial for use by individuals in the United States.
	</p>
	<p>
	  We respect your privacy and are committed to protecting it through our compliance with this policy. This privacy policy describes how we collect, use, disclose and protect information we may collect from you or that you may provide when you visit or use our Website or the functionality or services offered on or through our Website (collectively, “Services”).
	</p>
	This policy applies to information we collect:
	<ul>
	  <li>On or through your use of the Services; and</li>
	  <li>in email, text, and other electronic messages between you and us.
It does not apply to information collected by:</li>
	  <li>us offline or through any other means, including on any other website or application operated by us or any third party (including our affiliates and subsidiaries);</li>  
	  <li>any third party, including through any application, website, plug-in or other content (including advertising) that the Services may link to, embed or otherwise allow you to access or use; or</li>
	  <li>that we process on behalf of customers of our business-to-business offerings, which is governed by our customer agreements covering access to and use of those offerings.</li>
	</ul>
	<p>
	  Please read this policy carefully to understand our policies and practices regarding your information and how we will treat it. If you do not agree with our policies and practices, your choice is not to use our Services. By accessing or using the Services, you agree to this privacy policy.
	</p>
	<h5>Children</h5>
	<p>
	  The Services are not intended for children under 18 years of age. If you are under 18, do not use or provide any information through the Services, or provide any information about yourself to us, including your name, address, telephone number, email address, health information or any screen name or user name you may use. If you have reason to believe that a person under the age of 16 has provided personal information to us, please email us at: <a href="mailto:support42@fighthealthinsurance.com">support42@fighthealthinsurance.com</a>.
	</p>
	<h5>Information We May Collect About You and How We Collect It</h5>
	<p>
	  We may collect several types of information relating to you when you use the Services. This information may include:
	</p>
	<b>Information You Provide</b>: We collect your information when you use the Services or communicate with us as provided below.
	<ul>
	  <li>User content: When you use our Services, we collect information that is included in the input, file uploads, or feedback that you provide to our Services. Such content may include, for example:</li>
	  <ul>
            <li>information by which you may be personally identified, such as name, postal address, email address, and any other identifier by which you may be contacted or identified; and</li>
            <li>information that relates to or describes you, such as your medical, healthcare, and insurance information you submit to us.</li>
	    <li><b>NOTICE: THE SERVICES ARE NOT INTENDED TO SOLICIT OR COLLECT YOUR MEDICAL, HEALTH DATA OR BIOMETRIC DATA. YOU ARE RESPONSIBLE FOR REMOVING ANY SUCH INFORMATION FROM ANY INPUTS, FILE UPLOADS OR FEEDBACK PRIOR TO SUBMISSION TO THE SERVICES. BY SUBMITTING ANY SUCH INFORMATION TO THE SERVICES, YOU SPECIFICALLY CONSENT TO OUR COLLECTION AND USE OF SUCH INFORMATION AS PROVIDED IN THIS PRIVACY POLICY. IF YOU HAVE INADVERTANTLY SUBMITTED SUCH INFORMATION TO US OR WANT TO DELETE IT, YOU MAY USE OUR DELETION PAGE AT {% absolute_url 'remove_data' %} TO DELETE THE INFORMATION OR CONTACT US AT <A HREF="MAILTO:SUPPORT42@FIGHTHEALTHINSURANCE.COM">SUPPORT42@FIGHTHEALTHINSURANCE.COM</A> TO REQUEST DELETION.</b></li>
	    <li>You can remove your local storage items by pressing this button:        <button id="clear_local" class="btn btn-green" onclick="window.localStorage.clear()">
		Clear Page Local Storage (remove your name / address from cookie type storage)
	      </button>
	    </li>
	    <li>Communication information: If you communicate with us, we collect your name, contact information, and the contents of any messages you send to us.</li>
	    <li>Social media information: We may have pages on social media sites like Instagram, Facebook, Medium, Twitter, YouTube and LinkedIn. When you interact with our social media pages, we will collect personal information that you elect to provide to us, such as your contact details and content of messages. In addition, the companies that host our social media pages may provide us with aggregate information and analytics about our social media activity.</li>
	  </ul>
	  <li>
	    <b>Information We Receive Automatically From Your Use of the Services:</b> When you visit, use, or interact with the Services, we receive the below information.</li>
	  <ul>
	    <li>Log Data: Information that your browser or device automatically sends when you use our Services. Log data includes your IP address, browser type and settings, the date and time of your request, and how you interact with our Services.</li>
	    <li>Usage Data: We may automatically collect information about your use of the Services, such as the types of content that you view or engage with, the features you use and the actions you take, as well as your time zone, country, the dates and times of access, user agent and version, type of computer or mobile device, and your computer connection.</li>
	    <li>Device Information: Includes name of the device, operating system, device identifiers, and browser you are using. Information collected may depend on the type of device you use and its settings.</li>
	    <li>Cookies and other technologies: We use cookies and other technologies, such as local storage and session storage, to operate, administer, and improve the Services. Cookies and other similar technologies include pieces of information used to help a website “remember” information about you when you visit it a website. We may use a variety of online analytics products that use these technologies to help us analyze how users use our Services and enhance your experience when you use the Services.</li>
	    <li>Fraud protection: we may use fraud protection technologies to help us protect against malicious software and other cyberattacks and to identify legitimate users of our Services.</li>
	  </ul>
	</ul>
	<h5>How We Use Your Information</h5>
	<p>
	  We may use information that we collect about you or that you provide to us, including any personal information:
	  <ul>
	    <li>to provide, administer, improve, maintain and analyze the Services, including in order to generate and provide you documents, materials and other information based on information you provide us;</li>
	    <li>to develop and conduct research related to technologies used in or related to the Services, including for use in developing, training and improving the artificial intelligence systems used in connection with the Services;</li>
	    <li>to communicate with you, including sending you information about the Services;</li>
	    <li>to prevent fraud, criminal activity, or misuses of our Services, and to protect the security of our IT systems, architecture, and networks; and</li>
	    <li>to comply with legal obligations and legal process and to protect our rights, privacy, safety, or property, and/or that of our affiliates, you, or other third parties.</li>
	  </ul>
	  <h5>Disclosure of Your Information</h5>
	  <p>
	    We do not sell, trade, or otherwise share your personal information with third parties, except as described in this Policy. We may disclose aggregated or information that does not identify any individual without restriction.
	  </p>
	  <p>
	    We may disclose personal and other information that you provide or we collect as described in this privacy policy:
	  </p>
	  <ul>
	    <li>to our subsidiaries and affiliates, whose use of the personal information we share will be in a manner consistent with this Privacy Policy;</li>
	    <li>to contractors, service providers, and other third parties we use to support our Services;</li> 
	    <li>to a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of Totally Legit Co.'s assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which your personal information held by Totally Legit Co. is among the assets transferred;</li>
	    <li>to comply with any court order, law, or legal process, including to respond to any government or regulatory request;</li>
	    <li>to enforce or apply our Terms of Use and other agreements, including for billing and collection purposes;</li>
	    <li>if we believe disclosure is necessary or appropriate to protect the rights, property, or safety of us, our customers, or others, including exchanging information with other companies and organizations for the purposes of fraud protection and credit risk reduction; and</li>
	    <li>to third parties you have specifically consented to receiving your information, including third party websites or services (such as advertisements and third party artificial intelligence systems and other tools) which may be linked to, embedded in, or otherwise used in or through the Services. The information that you share with such third parties will be governed by the specific privacy policies and terms of use/service of the third parties and not by this Privacy Policy. It is your responsibility to review and accept such third parties’ privacy practices and policies directly with such third parties.</li>
	  </ul>
<h5>Data Security</h5>
<p>
  We have implemented measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration, and disclosure. All information you provide to us is stored on our servers secured through norms for a company of our size within our industry, and will be encrypted using SSL technology during transmission.
</p>
<p>
  The safety and security of your information also depends on you.  You are responsible for the access to your device, and the information you submit to us and the information we generate for you from the Services.
</p>
<p>
  The transmission of information via the internet is not completely secure. Although we take measures to protect your personal information, we cannot guarantee the security of your personal information transmitted to us. Any transmission of personal information is at your own risk.
</p>
<h5>Changes to Our Privacy Policy</h5>
<p>
  We may update this Privacy Policy from time to time. When we do, we will post an updated version on this page, unless another type of notice is required by applicable law.
</p>
<h5>Contact Information</h5>
<p>To ask questions or comment about this Privacy Policy and our privacy practices, contact us at: <a href="mailto:support42@fighthealthinsurance.com">support42@fighthealthinsurance.com</a>.</p>
    </div>
</section>

{% endblock content %}
