{% extends 'base.html' %}
{% block title %}
Fighthealthinsurance Professional Version
{% endblock title %}
{% load static %}
{% load absolute %}
{% block content %}
<section id="contact">
    <div class="container">
      <div class="section-header text-align-center">
	<h3 class="pro-version-header" style="text-align: center; padding: 15px; margin-top: 10vh;">Fight Health Insurance: Professional Version</h3>
      </div>
      <p>
	We are actively working on a professional version. The available consumer version is not intended or certified for professional use.
      We would love to keep in touch to let you know when we've got a professional version. Fill out the form below!
      </p>
      <p>
	Not a professional (e.g. providers office, appeal specialist, lawyer, etc.) but still ended up here? Don't worry!
      <a href="{% url 'scan' %}">You can try the regular appeal generator here.</a>
      </p>
      <p>
	If you're interested in becoming one of the first beta users, you have the option to pay $10 for a 3-month access of the professional beta
      once it launches. If you change your mind at any time before or during the professional beta, we're more than happy to refund that.
      Honestly the $10 is to show that folks are willing to pay for it so we can get more resources.
      </p>
      <p>
	<form method="post">
	  {% csrf_token %}
            <div class="form group">
            <label for="id_name">Name:</label>
            {{ form.name }}
            <label for="id_job_title_or_provider_type">Job title or Provider type:</label>
            {{ form.job_title_or_provider_type}}
            </div><br>

            <div class="form group">
            <label for="id_email">Email:</label>
            {{ form.email }}
            <label for="id_phone">Phone number:</label>
            {{ form.phone_number }}
            </div><br>

            <div class="form group business_name">
            <label for="id_business_name" style="display: block;">Business name:</label>
            {{ form.business_name }}
            </div><br>

            <div class="form-group address">
            <label for="id_address" style="display: block;">Address:</label>
            {{ form.address}}
            </div><br>

            <div class="form-group most_common_denial">
            <label for="id_most_common_denial">Most common denial:</label>
            {{ form.most_common_denial}}
            </div>

            <div class="form-group">
            <label for="id_comments">Comments:</label>
            {{ form.comments}}
            <label for="clicked_for_paid">
            {{ form.clicked_for_paid }}
            {{ form.clicked_for_paid.label }}
            </label>
            </div>

            <div class="form-group">
	      <input class="pro-submit-btn" type="submit" value="Submit">
            </div>
	</form>
      </p>
    </div>
</section>
{% endblock content %}
