{% extends 'base.html' %}
{% block title %}
Delete Your Data
{% endblock title %}
{% block content %}

<!-- HOME -->
<section id="delete-data" data-stellar-background-ratio="0.5">
    <div class="row mt-5 mb-5">
        <div class="caption d-flex flex-column align-items-center justify-content-center">
            <div class="col-md-offset-1 col-md-10 text-align-center d-flex flex-column align-items-center justify-content-center">
                <h1 class="delete-header">Delete your Data</h1>
                <p>We do some things we think is cool-ish to try and improve your data privacy, you may wish to read the <a href="{% url 'privacy_policy' %}" target="_blank" rel="noopener noreferrer">privacy techniques in our privacy policy.</a></p>
                    <p>To help us delete your data, please provide the email address you used.</p>
                <form action="{% url 'remove_data' %}" method="post" class="d-flex flex-column align-items-start">
                  {% csrf_token %}
		  <table>
		    {{ form.as_table }}
		  </table>
                    <div class="form-group mt-2">
                        <button type="submit" id="submit" class="btn btn-delete">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
