{% extends 'base.html' %}
{% block title %}
Deleted Your Data
{% endblock title %}
{% block content %}

<!-- HOME -->
<section id="delete-data" data-stellar-background-ratio="0.5">
    <div class="row mt-5 mb-5">
        <div class="caption d-flex flex-column align-items-center justify-content-center">
            <div class="col-md-offset-1 col-md-10 text-align-center d-flex flex-column align-items-center justify-content-center">
                <h2 class="delete-header">Delete your Data</h2>
                <p>Any data associated with your email has been removed.</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
