{% extends 'base.html' %}
{% block title %}
Upload your Health Insurance Denial
{% endblock title %}

{% load compress %}
{% load static %}

{% block scriptmagic %}
<script type="module">
  import * as main from '{% static "js/dist/scan.bundle.js" %}';
</script>
{% endblock scriptmagic %}

{% block content %}
<section class="scan-section mt-2">
	<div class="container">
		{% if form.errors %}{{ form.errors}}{% endif %}

		<div class="main-form">
			<form method="post" action="{% url 'process' %}" id="fuck_health_insurance_form" enctype="multipart/form-data">
				{% csrf_token %}

				<h3>Step 1</h3>

				{% if upload_more %}
					<div id="image_select_magic" style="visibility:visible">
						<label class="custom-file-label" for="uploader">
						<b>Upload Insurance Denial</b>
					</label>

					<br>

					<small class="text-muted">Attach all insurance denial pages below:</small><br>
					<small class="text-muted">Once uploaded, your file(s) will populate below in plain text.</small><br>
						<div class="col-md-4">
						<input id="uploader" type="file" name="uploader" multiple="true" class="form-control mt-2"><br>
						</div>
				</div>
				{% endif %}

				<div class="form-group">
					<label id="denial_text_label" class="form-label">
						<b>Your Insurance Denial</b><br>
						<small class="text-muted">If you are not uploading your health insurance denial file above, please copy and paste your denial below:</small><br>
						<small class="text-muted">(Remove personally identifiable information (PII) as we store for machine learning and may review</small><br>
						<small class="text-muted">OR click the button below to remove name and address from scanned text.)</small><br>

						<textarea
						    name="denial_text" id="denial_text" style="width:100%" rows="20"
						    form="fuck_health_insurance_form" placeholder="Your denial goes here"
						    class="form-control">{{ ocr_result }}</textarea>
					</label>

					<br>
					<br>

					<small class="text-muted">This scrubbed version of your denial is transferred to our servers.</small>
					<br>

					<button id="scrub-2" class="btn btn-green">Remove PII</button>
					<br>
					<br>
				</div>

				<h3>Step 2</h3>

				<div class="form-group">
					<div class="row">
						<div class="col-md-4">
							<label class="form-label">First name*<br>
								<input type="text" id="store_fname" name="fname" class="form-control">
							</label><br>
						</div>

						<div class="col-md-4">
							<label class="form-label">Last name*<br>
								<input type="text" id="store_lname" name="lname" class="form-control">
							</label><br>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<label for="email" class="form-label">
								<div id="email-label">Email**</div>
								<span class="d-block small text-muted">
								</span>
							</label>
							<br>

							<input type="email" id="email" name="email" class="form-control"><br>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<label for="store_street" class="form-label">
								Street Address*
								<small class="text-muted">(e.g. 283 24th St)</small>
							</label><br>
							<input type="text" id="store_street" name="street" class="form-control"><br>
						</div>

						<div class="col-md-4">
							<label for="store_zip" class="form-label">
								Zip Code
								<small class="text-muted">(e.g. 94103)</small>
							</label><br>

							<input type="text" id="store_zip" name="zip" class="form-control"><br>
						</div>
					</div>
				</div>

				<h3>Step 3</h3>

				<b>Policies</b>:

				<div class="form-check">
					<label class="form-check-label">
                        {{ form.privacy }}
						I agree to the <a class="link" href="{% url 'privacy_policy' %}">privacy policy</a>.
					</label>
                </div>

				<div class="form-check">
					<label class="form-check-label">
                        {{ form.tos }} I agree to the <a class="link" href="{% url 'tos' %}">terms of service</a>
					</label>
				</div>

				<div class="form-check">
					<label class="form-check-label">
                        {{ form.pii }}

                        I am aware that <b>this is for personal use only</b>,
                        and I have removed my personal identifiable information
                        (PII) from the text areas above.

                        {{ form.errors.pii }}
					</label>
				</div>

				<b>Optional</b>:

				<div class="form-check">
					<label>
                        {{ form.store_raw_email }}

						Send me a reminder email to check in on my appeal success
						<i>(requires saving your email to our servers)</i>

                        {{ form.errors.store_raw_email }}
					</label>
				</div>

				<div class="form-check">
					<label class="form-check-label">
                        {{ form.use_external_models }}

						Increase the quality of my appeal by using additional
						AI models <i>(this requires sharing your denial text
						with external 3rd parties such as OctoAI, Perplexity,
						TogetherAI, etc.)</i>

                        {{ form.errors.use_external_models }}
					</label>
				</div>

				<div class="hidden-error-message" id="email_error">
					We need your email to proceed, this allows us to delete your
					data later on request*.
				</div>

				<div class="hidden-error-message" id="agree_chk_error">
					Can't proceed as you didn't agree to all the terms.
				</div>

				<div class="hidden-error-message" id="pii_error">
					Can't proceed as you didn't check that you had removed your
					personal identifiable information from the text areas.
				</div>

				<div class="hidden-error-message" id="need_denial">
					We need you to provide your denial message from your insurance
					company in the text field right underneath the words "Your
					Insurance Denial" if you didn't get one you can write that you
					have not received a denial but describe what was denied (for
					example: The pharmacy said my PrEP was denied). Normally
					insurance companies are required to provide denials, but in our
					experience they do not always comply with that.
				</div>

				<button type="submit" class="btn btn-green" id="submit">Submit</button>
			</form>
		</div>

		<p>
			* We attempt not to store the fields marked with a single asterisk
			(*) on our server, instead they are stored in your web browser (like
			a cookie). You can remove this either in your web browser or in our
			<a href="{% url 'privacy_policy' %}">privacy policy</a> page.
		</p>

		<p>
			** We hash your email before storing it in our database, this allows you
			to request removal from our database (should you wish) without us having
			to store your raw e-mail.

			If you opt-in to follow-ups or faxing, we will store your raw email to
			follow-up after insurance company timelines may have expired so you can
			"remind" them. If you opt-in, we may follow-up by email after reviewing
			your denial with a better template if our machine learning model does not
			find a good model on the first pass-through. You may choose to use a
			different or temporary email service, like
			<a href="https://proton.me/">proton mail</a>. Please review our <a
			href="{% url 'privacy_policy' %}">privacy policy</a> for more details.
		</p>
	</div>
</section>

{% endblock content %}
