{% extends 'base.html' %}
{% block title %}
Upload your Health Insurance Denial
{% endblock title %}

{% load compress %}
{% load static %}

{% block scriptmagic %}
<script type="module">
  import * as main from '{% static "js/dist/scrub.bundle.js" %}';
</script>
{% endblock scriptmagic %}

{% block content %}
<section class="scan-section mt-2">
    <div class="container">
	{% if form.errors %}
	<div style="color:red">
	    {{ form.errors }}
	</div>
	{% endif %}
	<div class="container" style="margin-top: 2.5rem !important">
	<form method="post" action="{% url 'process' %}" id="fuck_health_insurance_form" enctype="multipart/form-data">
		{% csrf_token %}
	<div class="form-group">
	    <div class="row">
			<div class="col-md-4">
				<label for="store_fname" class="form-label">First name</label><br>
				<input type="text" id="store_fname" name="fname" class="form-control"><br>
			</div>
			<div class="col-md-4">
				<label for="store_lname" class="form-label">Last name</label><br>
				<input type="text" id="store_lname" name="lname" class="form-control"><br>
			</div>
		</div>
	</div>
			<div class="form-group">
				<div class="row">
				<div class="col-md-4">
					<label for="email" class="form-label">
						Email
						<span class="d-block small text-muted">
						(Note: Your email (hashed) will be stored. To delete after your appeal is generated, refer to `Remove Your Data` at top.)
						</span>
					</label><br>
					<input type="email" id="email" name="email" class="form-control"><br>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-md-4">
					<label for="store_street" class="form-label">
						Street Address
						<small class="text-muted">(e.g. 283 24th St)</small>
					</label><br>
					<input type="text" id="store_street" name="street" class="form-control"><br>
				</div>
				<div class="col-md-4">
					<label for="store_zip" class="form-label">
						Zip Code
						<small class="text-muted">(e.g. 94103)</small>
					</label><br>
					<input type="text" id="store_zip" name="zip" class="form-control"><br>
				</div>
			</div>
	    </div>
	{% if upload_more %}
	<div id="image_select_magic" style="visibility:visible">
	    <label class="custom-file-label" for="uploader">
			Scan your health insurance denial
			<small class="text-muted">(select all pages)</small>
		</label><br>
	    <div class="col-md-4">
			<input id="uploader" type="file" name="uploader" multiple="true" class="form-control mt-2"><br>
	    </div>
	</div>
	{% endif %}
	<div class="form-group">
	    <label for="denial_text" class="form-label">
			<b>Your Insurance Denial</b>
			<small class="text-muted">(Remove personally identifiable information (PII) as we store for Machine Learning and may review)</small>
		</label><br>
	    <textarea name="denial_text" id="denial_text" style="width:100%" rows="20" form="fuck_health_insurance_form"
		class="form-control">{{ocr_result}}</textarea><br>
	    <button id="scrub-2" class="btn btn-green">
	      Click to remove name and address from scanned text
	    </button><br>
		<br>
		</div>
	<div class="form-group">
	    <label for="health_history" class="form-label">
			<b>Optional</b>: Your Relevant Health History
			<small class="text-muted">(e.g. transgender, type 2 diabetes, fibromyalgia, etc.)</small>
		</label><br>
	    <textarea name="health_history" id="health_history" style="width:100%" rows="20" form="fuck_health_insurance_form"
		placeholder="Related Health History Goes Here" class="form-control"></textarea>
	<br>
	</div>
	<div class="form-group" style="visibility:visible">
	    <label class="custom-file-label" for="plan_documents">
			<b>Optional</b>: Plan Documents
			<small class="text-muted">(e.g. summary description)</small>
		</label><br>
		<div class="col-md-4">
		<input id="plans_documents" type="file" name="plan_documents" multiple="true" class="form-control mt-2"><br>
		</div>
	</div>
	    <b>Policies</b>:
	    <div class="form-check">
	        <input type="checkbox" id="personal-only" name="personal-only" class="form-check-input">
	        <label for="personal-only" class="form-check-label">I am aware that <b>this is for personal use only</b>. <a href="{% url 'pro_version' %}">Click here for those interested in a professional version (doctor/therapist/practitioner/office/hospital).</a></label>
		</div>
		<div class="form-check">
		<input type="checkbox" id="privacy" name="privacy" class="form-check-input">
		<label for="privacy" class="form-check-label">I have read and understand the <a class="link" href="{% url 'privacy_policy' %}">privacy
		    policy.</a>
		</label>
		</div>
		<div class="form-check">
		<input type="checkbox" id="pii" name="pii" class="form-check-input">
		<label for="pii" class="form-check-label">I have removed my personal identifiable information (PII) from the text areas above.</label>
		</div>
		<div class="form-check">
		<input type="checkbox" id="tos" name="tos" class="form-check-input">
		<label for="tos" class="form-check-label">I agree to the <a href="{% url 'tos' %}">terms of service</a> and will only use this website to generate my own health insurance appeals. I will not use this website to treat and diagnose any disease or condition or assist in either of those.</label>
		</div>
		<b>Optional</b>:
			<div class="form-check">
			<input type="checkbox" id="store_raw_email" name="store_raw_email" value="checked" class="form-check-input">
				<label for="store_raw_email" class="form-check-label">
					Store my email to follow-up with me (for the duration of automated follow ups + 30 days)*
				</label>
			</div>
			<div class="form-check">
			<input type="checkbox" id="use_external_models" name="use_external_models" value="checked" class="form-check-input">
				<label for="use_external_models" class="form-check-label">
					Increase the number of possible appeals and use external models. <b>This is not required and involves sharing your data with 3rd parties</b> subject to their own Terms Of Service potentially including OctoAI, Perplexity, TogetherAI, etc.
				</label>
			</div>
	    </div>
	    <div style="visibility:hidden; color:red" id="email_error">
	      We need your email to proceed, this allows us to delete your data later on request.
	    </div>
	    <div style="visibility:hidden; color:red" id="agree_chk_error">
		Can't proceed as you didn't agree to the terms.
	    </div>
	    <div style="visibility:hidden; color:red" id="pii_error">
		Can't proceed as you didn't check that you had removed your Personal Identifiable Information (PII) from the text areas.
	    </div>
	    <button type="submit" class="btn btn-green" id="submit">Submit</button>
	</form>
	<p>
	    * We store your hashed email that is linked to your denial so you can request removal from our database
	    (should you wish). Coming soon, if you opt-in, we will store your raw email to follow-up after insurance
		company timelines may have expired so you can "remind" them. If you opt-in, we may follow-up by email
		after reviewing your denial with a better template if our Machine Learning model does not find a good
		model on the first pass-through. You may choose to use a different or temporary email
	    service, like <a href="https://proton.me/">proton mail.</a> Please review our <a
		href="{% url 'privacy_policy' %}">privacy policy</a> for more details.
	</p>
    </div>
</section>

{% endblock content %}
