{% extends 'base.html' %}
{% block title %}
Upload your Health Insurance Denial - Server Side Processing
{% endblock title %}
{% load compress %}
{% load static %}
{% block content %}
<div style="color:red">
  {{ error }}
</div>
<form  method="post" action="{% url 'server_side_ocr' %}" enctype="multipart/form-data"
style="display: grid; justify-items: center; text-align: center; width: 100%; margin: 0 auto;">
    {% csrf_token %}
    <h4>Transferred to our server (may be temporarily stored)</h4>
    <label class="custom-file-label" for="uploader">(Optical Character Recognition (OCR) makes the text understandable to machines, allowing our generative AI model able to produce
    potential appeals for you to choose from.)
    <br>Attach all insurance denial pages below:
    </label>
    <input id="uploader" type="file" name="uploader" multiple>
    <button type="submit" id="submit" class="btn btn-blue">Submit</button>
</form>
{% endblock content %}
