a.link {
    color: #a5c422 !important;
    transition: all 1s !important;
    display: inline-block;
    position: relative;
}

a.link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #a5c422;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a.link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.font-weight-bold {
    font-weight: bold;
}

.btn-green, .btn-green:focus {
    background-color: #a5c422;
    color: #fff;
    transition: all 0.6s;
}
.btn-green:hover {
    background-color: #000;
    color: #fff;
}

.logo {
    width: 75px;
}

.section-btn {
    transition: all 0.4s ease-in-out;
}

.section-btn:hover {
    background-color: #4267b2;
}


.custom-angle-up {
  display: inline-block;
  position: relative;
  height: 30px;
  width: 100px; /* adjust width as needed */
  font-size: 20px; /* adjust font size as needed */
  text-indent: -1000px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.custom-angle-up::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  animation-name: arrow-up;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes arrow-up {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -10px);
  }
}

.main-form {
    margin-top: 2.5rem !important;
    width: 100%;
}

.generic-main-content {
    width: 80%;
    margin-top: 2.5rem !important;
    margin-top: 15vh;
}

.post-infered-table {
    width: 100%;
    margin: 0 auto;
}

.outside-help-options-table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 0 auto;
}

.cat-submit-button {
    background: #a5c422;
    text-align: center;
    color:#ffffff !important;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 14px;
}

.hidden-error-message {
    visibility: hidden; /* Hides the element but keeps its space occupied */
    color: red; /* Sets the text color */
    height: 0; /* Ensures it doesn't take up space */
    overflow: hidden; /* Ensures no content spills over */
    margin: 0; /* Resets margin to avoid spacing */
    padding: 0; /* Resets padding */
}

.hidden-error-message.visible {
  visibility: visible; /* Makes the element visible */
  height: auto; /* Allows the content to occupy its natural height */
  padding: initial; /* Restores padding */
}

.appeal_text {
    width: 100%;
    height: 20em;
}

.full_address {
    height: 5em;
    width: 80em;
}

.comments {
    height: 10em;
    width: 80em;
}
